.footer {
    background-color: #8f57fd; //le pasamos el color base a footer que le pasamos a los otros componentes como gradiente para que combine
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%; 
}
  
.footer a {
    text-decoration: none;
    color: white;
    font-family: inherit;
    font-size: 14px;
    padding-left: 30px; 
}
  
.footer a:hover {
    text-decoration: underline; 
}