.login {
    background: linear-gradient(#21C08B, #8f57fd);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}
  
.login__container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    display: flex;
    justify-content: space-around;
    flex-direction: column; 
}
  
.login__container--form {
    display: flex;
    flex-direction: column; 
}
  
.login__container--form label {
    font-size: 14px; 
}
  
.login__container--password--det {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px; 
}
  
.login__container--password--det a {
    text-decoration: none;
    color: white;
    font-size: 14px; 
}
  
.login__container--password--det a:hover {
    text-decoration: underline; 
}
  
.login__container--social--media > div {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px; 
}
  
.login__container--social--media > div > img {
    width: 30px; 
}
  
.login__container--register {
    font-size: 14px; 
}
  
.login__container--register a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px; 
}
  
.login__container--register a:hover {
    text-decoration: underline; 
}

::placeholder {
    color: white; 
}
  
.button {
    height: 50px;
    border: none;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    /*en los botones con etiqueta button es importante cambiar el cursor porque directamente no llevan a ningún enlace a diferenceia de un input type button*/
    font-family: inherit;
    color: white;
    letter-spacing: 1px;
    /*sirve para espaciar letras*/
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0;
}